<ion-header>
  <ion-navbar>
    <ion-title>
      {{area.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getArea($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Yenile?">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card no-padding class="topic-container" *ngIf="topics.length > 0">
    <ion-card-content no-padding>

      <ion-grid class="sticky-header" sticky-header (click)="stickiesHide = !stickiesHide"></ion-grid>

      <ion-grid area-topic-row [topic]="sticky" *ngFor="let sticky of stickies" [hidden]="!stickiesHide"></ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card no-padding class="topic-container" *ngIf="topics.length > 0">
    <ion-card-content no-padding>

      <ion-grid area-topic-row [topic]="topic" *ngFor="let topic of topics"></ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!infiniteHasEnded">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="getiriliyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="page-end-text" *ngIf="infiniteHasEnded">[sayfa sonu]</div>

</ion-content>
