<ion-header>
  <ion-navbar>
    <ion-title text-center>[ Güncel Başlıklar ]</ion-title>
    <ion-buttons end>
      <button ion-button class="btn-logout" (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true">

  <ion-refresher (ionRefresh)="getFollowedTopics($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Yenile?">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card no-padding class="topic-container" *ngIf="followedTopics">
    <ion-card-content no-padding>

      <ion-grid topics-page-header [staticFirst]="'Baslik'" [staticSecond]="'Son Mesaj'"></ion-grid>
      <ion-grid active-topic-row [topic]="topic" *ngFor="let topic of followedTopics"></ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>
