<ion-header>
  <ion-navbar>
    <ion-title text-center>[ PM ]</ion-title>
    <ion-buttons end>
      <button ion-button class="btn-logout" (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true">
  <ion-refresher (ionRefresh)="getPM($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Yenile?">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card no-padding class="pm-row-container" *ngIf="privateMessages">
    <ion-card-content no-padding>

      <ion-grid pm-page-header [staticFirst]="'Baslik'" [staticSecond]="'Gönderen'"></ion-grid>
      <ion-grid pm-row [pm]="pm" *ngFor="let pm of privateMessages"></ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>
