<ion-header>
  <ion-navbar>
    <ion-title>
      {{topic.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getTopicContent($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Yenile?">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card no-padding class="topic-messages-container" *ngIf="messages.length > 0">
    <ion-card-content no-padding>
      <ion-grid topic-message-row [message]="message" *ngFor="let message of messages"></ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!infiniteHasEnded">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="getiriliyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="page-end-text" *ngIf="infiniteHasEnded">
    <div>[sayfa sonu]</div>
    <small>{{maxPages}} sayfa yuklendi</small>
  </div>

</ion-content>
