// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/variables';

.bg_red {
  background-color: red;
}

.bg_yellow {
  background-color: yellow;
}

.bg_green {
  background-color: green;
}

.bg_blue {
  background-color: blue;
}

.bg_orange {
  background-color: $pati_orange;
}

.text-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.text-small {
  font-size: 10px;
}

.area-container {

  border: 1px solid $pati_red;

  ion-grid {
    padding: 0;
    border-bottom: 0.5px solid $pati_red;
  }

  .areas-header {
    background-color: $pati_red;
    font-weight: 600;
    color: white;
  }

  .area {
    [col-1], [col-7] {
      display: flex;
      align-items: center;
      border-right: 1px solid $pati_red;
    }

    [col-1], [col-4] {
      background-color: #e4dac5;
    }

    [col-7] {
      background-color: #E4CD9C;
    }

    [col-7] .title {
      font-size: 15px;
      border: 0;
    }

    [col-4] {
      .row {
        height: 100%;
        text-align: center;
        font-size: 11px;
      }
    }

  }
}

.topic-container {

  border: 1px solid $pati_red;

  ion-grid {
    padding: 0;
    border-bottom: 0.5px solid $pati_red;
  }

  .topics-page-header {
    background-color: $pati_red;
    font-weight: 600;
    color: white;

    [col-8] {
      font-size: 14px;
    }
    [col-3] {
      font-size: 13px;
    }
  }

  .sticky-header {
    background-color: $pati_red;
    font-weight: 600;
    font-size: 15px;
    color: white;
  }

  .topic {

    [col-1] {
      border-right: 1px solid $pati_red;
    }

    [col-1], [col-3] {
      background-color: #e4dac5;
    }

    [col-8] {
      background-color: #E4CD9C;
      border-right: 1px solid $pati_red;
      padding-bottom: 2px;

      .title {
        border: 0;
        height: 100%;
        justify-content: space-between;

        .topic-info {
          margin-top: 5px;
          font-size: 12px;

          [col-7],
          [col-5] .icon {
            color: $pati_red;
          }

          [col-5] {
            color: black;
          }
        }
      }

      // Topic row in active topics
      &.in-active-topics {
        .row:nth-child(2) {
          font-size: 11px;
          margin-top: 4px;
        }
      }
    }

    [col-3] {
      ion-row {
        height: 100%;
        text-align: center;
        font-size: 11px;
      }
    }

  }
}

.topic-messages-container {

  border: 1px solid $pati_red;

  ion-grid {
    padding: 0;
  }

  .message-page-header {
    background-color: $pati_red;
    font-weight: 600;
    color: white;
  }

  .topic-message {

    &:nth-child(odd) {
      background-color: #e4dac5;
    }

    &:nth-child(even) {
      background-color: #E4CD9C;
    }

    // Slide msg layout fix
    .list {
      background-color: inherit;

      .item-wrapper {
        background-color: inherit;

        .item.item-block {
          padding: 0;
          background-color: inherit;
          .item-inner {
            padding: 0;

            .label.label {
              margin: 0;
              white-space: normal;
            }
          }
        }
      }
      ion-item-options .button {
        height: 100%;
      }
    }

    // Message header
    .row:nth-child(1) {
      border-top: 1px solid $pati_red;
      border-bottom: 1px solid $pati_red;

      .col:nth-child(1) {
        font-size: 16px;
        font-weight: 600;
      }

      .col:nth-child(2) {
        text-align: right;
        padding-top: 6px;
        font-size: 13px;
      }
    }

    .row:nth-child(2) {

      // Title / Medal container
      [col-3] {

        border-right: 1px solid $pati_red;

        .row:nth-child(1) {
          border: 0;
          font-size: 14px;
          margin-bottom: 7px;
        }

        .row:nth-child(2) {
          margin-bottom: 7px;
          border: 0;

          img {
            width: 15px;
            height: 15px;
          }
        }

        .row:nth-child(3) {
          position: absolute;
          bottom: 3px;
          right: 5px;
          color: $pati_red;
          font-size: 12px;
        }
      }

      // Message container
      [col-9] {

        a {
          font-size: 15px;
        }

        pre {
          font-size: 13px;
        }

        .spoiler {
          border: 1px solid #999;
          background-color: #f5f5f5;
          color: black;
          padding: 5px;
          margin: 5px 0;

          .spoiler-link {
            font-size: 15px;
            color: #488aff;
            cursor: pointer;
          }

          .spoiler-inner {
            margin-top: 5px;
            display: none;
          }

          .spoiler-link + input {
            display: none;
          }

          .spoiler-link + input + div {
            display: none;
          }

          .spoiler-link + input:checked + div {
            display: block;
          }
        }

        .smiley {
          width: auto !important;
          height: auto !important;
        }

        object {
          width: 100% !important;
          height: 200px !important;
        }

        blockquote.bbcode {
          font-size: 13px;
          margin: 10px 0 10px;
          padding: 5px;
          border: 1px solid #a0a0a0;
          background-color: #E4DAC5;

          div {
            padding: 5px;
            background-color: #F4EAE5;
          }
        }

        hr {
          height: 1px;
          margin-top: 10px;
          margin-bottom: 0;
          width: 100% !important;
        }

        small {
          font-size: 11px;
        }

      }
    }

  }
}


// PM page
.pm-row-container {

  border: 1px solid $pati_red;

  ion-grid {
    padding: 0;
    border-bottom: 0.5px solid $pati_red;
  }

  .pm-page-header {
    background-color: $pati_red;
    font-weight: 600;
    color: white;

    [col-9] {
      font-size: 14px;
    }
    [col-3] {
      padding-top: 6px;
      font-size: 13px;
    }
  }

  .pm-row {
    background-color: #E4CD9C;

    [col-9] {
      background-color: #E4CD9C;
      border-right: 1px solid $pati_red;

      &.new-pm {
        font-weight: 600;
      }
    }

    [col-3] {
      background-color: #E4DAC5;
      ion-row {
        height: 100%;
        text-align: center;
        font-size: 11px;
      }
    }
  }
}

// Show Specific PM page
.pm-container {
  border: 1px solid $pati_red;
  background-color: #E4CD9C;

  .row:nth-child(1) {
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
    margin-bottom: 15px;
    font-size: 15px;
  }

  .row:nth-child(2),
  .row:nth-child(3) {
    font-weight: 600;
  }

  // Message container
  .pm-body {
    background-color: #E4DAC5;
    border: 1px solid #888;
    margin-top: 15px;

    a {
      font-size: 15px;
    }

    pre {
      font-size: 13px;
    }

    .spoiler {
      border: 1px solid #999;
      background-color: #f5f5f5;
      color: black;
      padding: 5px;
      margin: 5px 0;

      .spoiler-link {
        font-size: 15px;
        color: #488aff;
        cursor: pointer;
      }

      .spoiler-inner {
        margin-top: 5px;
        display: none;
      }

      .spoiler-link + input {
        display: none;
      }

      .spoiler-link + input + div {
        display: none;
      }

      .spoiler-link + input:checked + div {
        display: block;
      }
    }

    .smiley {
      width: auto !important;
      height: auto !important;
    }

    object {
      width: 100% !important;
      height: 200px !important;
    }

    blockquote.bbcode {
      font-size: 13px;
      margin: 10px 0 10px;
      padding: 5px;
      border: 1px solid #a0a0a0;
      background-color: #E4DAC5;

      div {
        padding: 5px;
        background-color: #F4EAE5;
      }
    }

    hr {
      height: 1px;
      margin-top: 10px;
      margin-bottom: 0;
      width: 100% !important;
    }

    small {
      font-size: 11px;
    }

  }
}

.btn-logout {
  color:  darken($pati_orange, 20%);
}

.btn-login {
  background-color: $pati_red;
  border-radius: 5px;

  &:active, &:focus {
    background-color: lighten($pati_red, 7%);
  }
}

.login-form-container {
  margin: 10em 0;

  .label {
    color: $pati_red;
  }
}

.api-events-container {
  h3, h6 {
    color: $pati_red;
  }

  hr {
    height: 1px;
  }

  .button-inner {
    color: $pati_red;
  }
}

.page-end-text {
  color: $pati_red;
  font-weight: 600;
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
}

.special-user-title {
  color: $pati_red;
  font-weight: 600;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-vertical-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-vertical-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

// remove refresher border
.scroll-content {
  border: 0 !important;
}

