<ion-header>
  <ion-navbar>
    <ion-title text-center>[ Güncel Başlıklar ]</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="getActiveTopics($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Yenile?">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card no-padding class="topic-container" *ngIf="activeTopics">
    <ion-card-content no-padding>

      <ion-grid active-topic-row [topic]="topic" *ngFor="let topic of activeTopics"></ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>
